@import url('https://fonts.googleapis.com/css2?family=Inria+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #3d55cc;
  --darkest: #141a33;
  --dark: #4f5573;
  --medium: #858aa6;
  --light: #dadef2;
  --lightest: #f5f6fa;
}

body {
  background-color: var(--lightest);
  font-family: 'Inria Sans', arial;
  scroll-behavior: smooth;
}

#root {
  margin: 0 auto;
}

@keyframes scale-up {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}